<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${site.title}"></title>
  <link rel="shortcut icon" th:href="${site.favicon}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <aside th:replace="modules/sidebar.html"></aside>

    <div class="main-content">
      <nav th:replace="modules/navbar.html"></nav>

      <article class="about active" data-page="关于">
        <header>
          <h2 class="h2 article-title" th:text="${theme.config.about.title}"></h2>
        </header>

        <section class="about-text" th:if="${theme.config.about.about_me.switch==true}">
          <th:block th:with="content = ${theme.config.about.about_me.content}">
            <p th:utext="${content_list.text}" th:each="content_list : ${content}"></p>
          </th:block>
        </section>

        <section class="service" th:if="${theme.config.about.about_what.switch==true}">
          <h3 class="h3 service-title" th:text="${theme.config.about.about_what.title}"></h3>
          <ul class="service-list" th:with="project = ${theme.config.about.about_what.content}">
            <li class="service-item" th:each="project_list : ${project}"
              th:attr="onclick='window.open(\'' + ${project_list.url} + '\', \'_blank\')'">
              <div class="service-icon-box">
                <img th:src="${project_list.images}" th:alt="${project_list.title}" width="40">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title" th:text="${project_list.title}"></h4>
                <p class="service-item-text" th:text="${project_list.text}"></p>
              </div>
            </li>
          </ul>
        </section>

        <section class="timeline" th:each="timeline : ${theme.config.about.timeline}"
          th:if="${timeline.switch == true}">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon th:name="${timeline.icon}"></ion-icon>
            </div>
            <h3 class="h3" th:text="${timeline.title}"></h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item" th:each="timeline_item : ${timeline.content}">
              <h4 class="h4 timeline-item-title" th:text="${timeline_item.name}"></h4>
              <span th:text="${timeline_item.time}"></span>
              <p class="timeline-text" th:text="${timeline_item.text}"></p>
            </li>
          </ol>
        </section>

        <section class="skill" th:if="${theme.config.about.skills.switch == true}">
          <h3 class="h3 skills-title" th:text="${theme.config.about.skills.title}"></h3>
          <ul class="skills-list content-card" th:with="skills = ${theme.config.about.skills.content}">
            <li class="skills-item" th:each="skills_list : ${skills}">
              <div class="title-wrapper">
                <h5 class="h5" th:text="${skills_list.name}"></h5>
                <data th:value="${skills_list.num}" th:text="${skills_list.num} + '%'"></data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" th:style="'width: ' + ${skills_list.num} + '%'"></div>
              </div>
            </li>
        </section>

        <section class="testimonials" th:if="${theme.config.about.about_evaluate.switch==true}">
          <h3 class="h3 testimonials-title" th:text="${theme.config.about.about_evaluate.title}"></h3>
          <ul class="testimonials-list has-scrollbar" th:with="evaluate = ${theme.config.about.about_evaluate.content}">
            <li class="testimonials-item" th:each="evaluate_list : ${evaluate}">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img th:src="${evaluate_list.images}" alt="${evaluate_list.name}" width="60" data-testimonials-avatar>
                </figure>
                <h4 class="h4 testimonials-item-title" data-testimonials-title th:text="${evaluate_list.name}"></h4>
                <div class="testimonials-text" data-testimonials-text>
                  <p th:text="${evaluate_list.text}"></p>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <section class="clients" th:if="${theme.config.about.about_clients.switch==true}">
          <h3 class="h3 clients-title" th:text="${theme.config.about.about_clients.title}"></h3>
          <ul class="clients-list has-scrollbar" th:with="clients = ${theme.config.about.about_clients.content}">
            <li class="clients-item" th:each="clients_list : ${clients}">
              <a th:href="${clients_list.url}">
                <img th:src="${clients_list.images}" th:alt="${clients_list.name}" />
              </a>
            </li>
          </ul>
        </section>

      </article>

    </div>
  </main>
  <script th:src="@{/assets/js/script.js?v={version}(version=${theme.spec.version})}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

<!-- <footer>
  <halo:footer />
</footer> -->

</html>