<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${site.title}"></title>
  <link rel="shortcut icon" th:href="${site.favicon}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <aside class="sidebar" data-sidebar>
      <div class="sidebar-info">
        <figure class="avatar-box">
          <img th:src="${theme.config.index.header_info.header_info_img ?: site.logo}"
            th:alt="${theme.config.index.header_info.header_info_title  ?: site.title}" width="80">
        </figure>
        <div class="info-content">
          <h1 class="name" th:text="${theme.config.index.header_info.header_info_title  ?: site.title}"></h1>
          <p class="title" th:text="${theme.config.index.header_info.header_info_subtitle ?: site.subtitle}"></p>
        </div>
        <button class="info_more-btn" data-sidebar-btn>
          <span>个人信息</span>
          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>
      <div class="sidebar-info_more">
        <div class="separator"></div>
        <ul class="contacts-list">
          <li class="contact-item"
            th:if="${theme.config.index.header_contact.email != null and !theme.config.index.header_contact.email.isEmpty()}">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">邮箱</p>
              <a th:href="'mailto:' + ${theme.config.index.header_contact.email}" class="contact-link"
                th:text="${theme.config.index.header_contact.email}"></a>
            </div>
          </li>
          <li class="contact-item"
            th:if="${theme.config.index.header_contact.phone != null and !theme.config.index.header_contact.phone.isEmpty()}">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">电话</p>
              <a href="tel:${theme.config.index.header_contact.phone}" class="contact-link"
                th:text="${theme.config.index.header_contact.phone}"></a>
            </div>
          </li>
          <li class="contact-item"
            th:if="${theme.config.index.header_contact.birthday != null and !theme.config.index.header_contact.birthday.isEmpty()}">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">生日</p>
              <time datetime="${theme.config.index.header_contact.birthday}"
                th:text="${theme.config.index.header_contact.birthday}"></time>
            </div>
          </li>
          <li class="contact-item"
            th:if="${theme.config.index.header_contact.Location != null and !theme.config.index.header_contact.Location.isEmpty()}">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">地区</p>
              <address th:text="${theme.config.index.header_contact.Location}"></address>
            </div>
          </li>
        </ul>
        <div class="separator"></div>
          <ul class="social-list" th:with="social = ${theme.config.index.social}">
            <li class="social-item" th:each="social_item : ${social}">
              <a class="social-link" th:href="${social_item.url}" target="_blank" th:title="${social_item.name}">
                <ion-icon th:name="${social_item.icon}"></ion-icon>
              </a>
            </li>
          </ul>
      </div>
    </aside>
    <div class="main-content">
      <nav class="navbar">
        <ul class="navbar-list" th:with="nav_data = ${theme.config.nav}">
          <li class="navbar-item" th:each="navbar_item : ${nav_data.nav_list}">
            <button data-nav-link
              th:class="${nav_data.default_nav == navbar_item} ? 'navbar-link active' : 'navbar-link'"
              th:text="${navbar_item}"></button>
          </li>
        </ul>
      </nav>
      <article class="about active" th:class="${theme.config.nav.default_nav == '关于'} ? 'about active' : 'about'"
        data-page="关于">
        <header>
          <h2 class="h2 article-title" th:text="${theme.config.about.title}"></h2>
        </header>

        <section class="about-text" th:if="${theme.config.about.about_me.switch==true}">
          <th:block th:with="content = ${theme.config.about.about_me.content}">
            <p th:utext="${content_list.text}" th:each="content_list : ${content}"></p>
          </th:block>
        </section>

        <section class="service" th:if="${theme.config.about.about_what.switch==true}">
          <h3 class="h3 service-title" th:text="${theme.config.about.about_what.title}"></h3>
          <ul class="service-list" th:with="project = ${theme.config.about.about_what.content}">
            <li class="service-item" th:each="project_list : ${project}">
              <div class="service-icon-box">
                <img th:src="${project_list.images}" alt="${project_list.title}" width="40">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title" th:text="${project_list.title}"></h4>
                <p class="service-item-text" th:text="${project_list.text}"></p>
              </div>
            </li>
          </ul>
        </section>
        <section class="testimonials" th:if="${theme.config.about.about_evaluate.switch==true}">
          <h3 class="h3 testimonials-title" th:text="${theme.config.about.about_evaluate.title}"></h3>
          <ul class="testimonials-list has-scrollbar" th:with="evaluate = ${theme.config.about.about_evaluate.content}">
            <li class="testimonials-item" th:each="evaluate_list : ${evaluate}">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img th:src="${evaluate_list.images}" alt="${evaluate_list.name}" width="60" data-testimonials-avatar>
                </figure>
                <h4 class="h4 testimonials-item-title" data-testimonials-title th:text="${evaluate_list.name}"></h4>
                <div class="testimonials-text" data-testimonials-text>
                  <p th:text="${evaluate_list.text}"></p>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <div class="modal-container" data-modal-container>
          <div class="overlay" data-overlay></div>
          <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="" alt="" width="80" data-modal-img>
              </figure>
              <img th:src="@{/assets/images/icon-quote.svg}" alt="quote icon">
            </div>
            <div class="modal-content">
              <h4 class="h3 modal-title" data-modal-title></h4>
              <div data-modal-text>
                <p></p>
              </div>
            </div>
          </section>
        </div>
        <section class="clients" th:if="${theme.config.about.about_clients.switch==true}">
          <h3 class="h3 clients-title" th:text="${theme.config.about.about_clients.title}"></h3>
          <ul class="clients-list has-scrollbar" th:with="clients = ${theme.config.about.about_clients.content}">
            <li class="clients-item" th:each="clients_list : ${clients}">
              <a th:href="${clients_list.url}">
                <img th:src="${clients_list.images}" th:alt="${clients_list.name}" />
              </a>
            </li>
          </ul>
        </section>
      </article>
      <article th:class="${theme.config.nav.default_nav == '简历'} ? 'resume active' : 'resume'" data-page="简历">
        <header>
          <h2 class="h2 article-title" th:text="${theme.config.resume.title}"></h2>
        </header>
        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Education</h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">University school of the arts</h4>
              <span>2007 — 2008</span>
              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">New york academy of art</h4>
              <span>2006 — 2007</span>
              <p class="timeline-text">
                Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est
                omnis..
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">High school of art and design</h4>
              <span>2002 — 2004</span>
              <p class="timeline-text">
                Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed consequuntur
                magni dolores
                eos.
              </p>
            </li>
          </ol>
        </section>
        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Experience</h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Creative director</h4>
              <span>2015 — Present</span>
              <p class="timeline-text">
                Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
                molestias
                exceptur.
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Art director</h4>
              <span>2013 — 2015</span>
              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Web designer</h4>
              <span>2010 — 2013</span>
              <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
              </p>
            </li>
          </ol>
        </section>
        <section class="skill">
          <h3 class="h3 skills-title">My skills</h3>
          <ul class="skills-list content-card">
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Web design</h5>
                <data value="80">80%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>
            </li>
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Graphic design</h5>
                <data value="70">70%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>
            </li>
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Branding</h5>
                <data value="90">90%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>
            </li>
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">WordPress</h5>
                <data value="50">50%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>
            </li>
          </ul>
        </section>
      </article>
      <article th:class="${theme.config.nav.default_nav == '分类'} ? 'portfolio active' : 'portfolio'" data-page="分类">
        <header>
          <h2 class="h2 article-title">分类</h2>
        </header>
        <section class="projects">
          <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Web design</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>
          </ul>
          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-selecct-value>Select category</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
            <ul class="select-list">
              <li class="select-item">
                <button data-select-item>All</button>
              </li>
              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>
              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>
              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>
            </ul>
          </div>
          <ul class="project-list">
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-1.jpg}" alt="finance" loading="lazy">
                </figure>
                <h3 class="project-title">Finance</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-2.png}" alt="orizon" loading="lazy">
                </figure>
                <h3 class="project-title">Orizon</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-3.jpg}" alt="fundo" loading="lazy">
                </figure>
                <h3 class="project-title">Fundo</h3>
                <p class="project-category">Web design</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-4.png}" alt="brawlhalla" loading="lazy">
                </figure>
                <h3 class="project-title">Brawlhalla</h3>
                <p class="project-category">Applications</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-5.png}" alt="dsm." loading="lazy">
                </figure>
                <h3 class="project-title">DSM.</h3>
                <p class="project-category">Web design</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-6.png}" alt="metaspark" loading="lazy">
                </figure>
                <h3 class="project-title">MetaSpark</h3>
                <p class="project-category">Web design</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-7.png}" alt="summary" loading="lazy">
                </figure>
                <h3 class="project-title">Summary</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-8.jpg}" alt="task manager" loading="lazy">
                </figure>
                <h3 class="project-title">Task Manager</h3>
                <p class="project-category">Applications</p>
              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img th:src="@{/assets/images/project-9.png}" alt="arrival" loading="lazy">
                </figure>
                <h3 class="project-title">Arrival</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
          </ul>
        </section>
      </article>
      <article th:class="${theme.config.nav.default_nav == '博客'} ? 'blog active' : 'blog'" data-page="博客">
        <header>
          <h2 class="h2 article-title">博客</h2>
        </header>
        <section class="blog-posts">
          <ul class="blog-posts-list">
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-1.jpg}" alt="Design conferences in 2022" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">Design conferences in 2022</h3>
                  <p class="blog-text">
                    Veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                  </p>
                </div>
              </a>
            </li>
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-2.jpg}" alt="Best fonts every designer" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">Best fonts every designer</h3>
                  <p class="blog-text">
                    Sed ut perspiciatis, nam libero tempore, cum soluta nobis est eligendi.
                  </p>
                </div>
              </a>
            </li>
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-3.jpg}" alt="Design digest #80" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">Design digest #80</h3>
                  <p class="blog-text">
                    Excepteur sint occaecat cupidatat no proident, quis nostrum exercitationem ullam corporis suscipit.
                  </p>
                </div>
              </a>
            </li>
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-4.jpg}" alt="UI interactions of the week" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">UI interactions of the week</h3>
                  <p class="blog-text">
                    Enim ad minim veniam, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi.
                  </p>
                </div>
              </a>
            </li>
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-5.jpg}" alt="The forgotten art of spacing" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">The forgotten art of spacing</h3>
                  <p class="blog-text">
                    Maxime placeat, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </a>
            </li>
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img th:src="@{/assets/images/blog-6.jpg}" alt="Design digest #79" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>
                    <span class="dot"></span>
                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>
                  <h3 class="h3 blog-item-title">Design digest #79</h3>
                  <p class="blog-text">
                    Optio cumque nihil impedit uo minus quod maxime placeat, velit esse cillum.
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </article>
      <article th:class="${theme.config.nav.default_nav == '联系我'} ? 'contact active' : 'contact'" data-page="联系我">
        <header>
          <h2 class="h2 article-title">联系我</h2>
        </header>
        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199666.5651251294!2d-121.58334177520186!3d38.56165006739519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac672b28397f9%3A0x921f6aaa74197fdb!2sSacramento%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1647608789441!5m2!1sen!2sbd"
              width="400" height="300" loading="lazy"></iframe>
          </figure>
        </section>
        <section class="contact-form">
          <form action="#" class="form" data-form>
            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>
              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>
            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>
            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>
          </form>
        </section>
      </article>
    </div>
  </main>
  <script th:src="@{/assets/js/script.js?v={version}(version=${theme.spec.version})}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>