<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${site.title}"></title>
  <link rel="shortcut icon" th:href="${site.favicon}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <main>

    <aside th:replace="modules/sidebar.html"></aside>

    <div class="main-content">

      <nav th:replace="modules/navbar.html"></nav>

      <article class="blog active" data-page="最新文章">
        <header>
          <h2 class="h2 article-title">最新文章</h2>
        </header>
        <section class="blog-posts">
          <ul class="blog-posts-list" th:with="posts = ${postFinder.list(page,10)}">
            <li class="blog-post-item" th:each="post : ${posts.items}">
              <a th:href="${post.status.permalink}">
                <figure class="blog-banner-box" th:if="${! #strings.isEmpty(post.spec.cover)}">
                  <img th:src="${post.spec.cover}" alt="" loading="lazy">
                </figure>
                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category" th:if="${! #strings.isEmpty(post.spec.categories)}"
                      th:each="category_name : ${post.spec.categories}"
                      th:with="category = ${categoryFinder.getByName(category_name)}"
                      th:text="${category.spec.displayName}">
                    </p>
                    <span class="dot"></span>
                    <time th:datetime="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
                      th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"></time>
                  </div>
                  <h3 class="h3 blog-item-title" th:text="${post.spec.title}"></h3>
                  <p class="blog-text" th:text="${post.status.excerpt}"></p>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </article>

    </div>

  </main>

  <script th:src="@{/assets/js/script.js?v={version}(version=${theme.spec.version})}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>