<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN" class="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${site.title}"></title>
  <link rel="shortcut icon" th:href="${site.favicon}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <main>

    <aside th:replace="modules/sidebar.html"></aside>

    <div class="main-content">

      <nav th:replace="modules/navbar.html"></nav>

      <article class="portfolio active" data-page="图库">
        <header>
          <h2 class="h2 article-title" th:text="${title}"></h2>
        </header>

        <section class="projects">
          <ul class="filter-list">
            <li class="filter-item">
              <a href="/photos" data-filter-btn th:classappend="${#lists.isEmpty(param.group) ? 'active' : ''}"> 全部 </a>
            </li>
            <li class="filter-item" th:each="group : ${photoFinder.groupBy()}">
              <a th:href="@{|/photos?group=${group.metadata.name}|}"
                th:classappend="${#lists.contains(param.group, group.metadata.name) ? 'active' : ''}"
                th:text="${group.spec.displayName}">
              </a>
            </li>
          </ul>

          <div class="filter-select-box">
            <button class="filter-select" data-filter-btn>
              <div class="select-value" data-selecct-value>选择类别</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
            <ul class="select-list">
              <li class="select-item">
                <a href="/photos" data-filter-btn th:classappend="${#lists.isEmpty(param.group) ? 'active' : ''}"> 全部
                </a>
              </li>
              <li class="select-item" th:each="group : ${photoFinder.groupBy()}">
                <a data-filter-btn th:href="@{|/photos?group=${group.metadata.name}|}"
                  th:classappend="${#lists.contains(param.group, group.metadata.name) ? 'active' : ''}"
                  th:text="${group.spec.displayName}">
                </a>
              </li>
            </ul>
          </div>
          <ul class="project-list">
            <li class="project-item  active" data-filter-item th:each="photo : ${photos.items}">
              <figure class="project-img">
                <img th:src="${photo.spec.url}" th:srcset="|${thumbnail.gen(photo.spec.url, 's')} 400w,
                             ${thumbnail.gen(photo.spec.url, 'm')} 800w,
                             ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
                             ${thumbnail.gen(photo.spec.url, 'xl')} 1600w|" sizes="(max-width: 1600px) 100vw, 1600px"
                  th:alt="${photo.spec.displayName}">
              </figure>
            </li>
          </ul>

          <div class="index-paination">
            <div th:replace="~{modules/pagination :: page('',${photos})}"></div>
          </div>

        </section>

      </article>

    </div>

  </main>

  <script th:src="@{/assets/js/script.js?v={version}(version=${theme.spec.version})}"></script>
  <script type="module"
    src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/ionicons/5.5.2/ionicons/ionicons.esm.js"></script>
  <script nomodule
    src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/ionicons/5.5.2/ioniconshttps://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/ionicons/5.5.2/ionicons/ionicons.js"></script>

</body>

</html>